
.apple img {
  display: block;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  color: beige;
  padding-bottom: 15px;
  text-shadow: 0px 0px 5px #3b5449;
  font-family: "Cormorant Garamond", serif;
  font-weight: 800;
  margin-top: 5px;
}

.container {
  min-width: 70%;
  max-width: 70%;
  margin: 5% auto;
  position: relative;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: beige;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.search button {
  border: none;
  outline: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 40px;
  background: #3b5449;
  color: beige;
}

button:hover {
  background: #5F8575;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: background 0.3s ease-out 100ms
}

/* Search Result */
.search-result {
  border-radius: 10px;
  user-select: none;
  list-style: none;
  position: relative;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  background: rgba(245, 245, 220, 0.5);
  display: flex;
  white-space: nowrap;
}

.search-result li {
  white-space: normal;
  background: beige;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  width: 170px; 
  height: 250px;
  margin: 8px;
  vertical-align: top;
  border-style: solid;
  border-color: rgb(212, 212, 168);
  border-width: 2px;
  font-family: "Poppins", sans-serif;
}

.search-result li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(59, 84, 73, 0.19);
}
.search-result::-webkit-scrollbar {
  height: 8px;
}

.search-result::-webkit-scrollbar-thumb {
  background: beige;
  border-radius: 5px;
}

.cover {
  width: 110px; 
  height: 150px;
  border-style: solid;
  border-width: 3px;
}

.title {
  margin-top: 4px;
  font-weight: 600;
  word-wrap: break-word; 
  font-size: 14px;
}

.author {
  font-size: 11px;
  font-weight: 300;
}

.add {
  background: #3b5449;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 20px;
  width: 40px;
  color: beige;
  cursor: pointer;
  margin-top: 5px;
  font-size: 10px;
}

.loading-spinner {
  width: 60px;
  margin: 8% auto;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, beige 90%, transparent); 
  background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
  33% {
      background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
      background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
      background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
